@font-face {
  font-family: orangekid;
  src: url(orangekid.ttf);
}

body, html {
    height: 100%;
    margin: 0;
    font-family: orangekid;
  }
  
  
  .fondo {
    position: fixed;
    height: 100%;
    right: 0px;
    min-width: 100vw;
    z-index: -1;
    top: 0px;
  }

  

  .texto {
    float: right;
    text-align: right;
    margin-right: 10vw;
    margin-top: 10vw;
  }
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }

  a {
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px 2px;
  }
  .mail {
    width: 40px;
    margin-bottom: 20px;
    -webkit-filter: drop-shadow(1px 1px 1px black);
      filter: drop-shadow(1px 1px 1px black);
  }
