@font-face {
  font-family: orangekid;
  src: url(orangekid.ttf);
}

body, html {
    height: 100%;
    margin: 0;
    font-family: orangekid;
  }
  
  .bg {
    /* The image used */
    background-image: url("dawn-3358468_1920.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .texto {
    position: absolute;
    right: 10%;
    top: 20%;
    text-align: right;
  }

  a {
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px 1px;
  }
  .mail {
    width: 40px;
    -webkit-filter: drop-shadow(1px 1px 1px black);
      filter: drop-shadow(1px 1px 1px black);
  }
